--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0
torchvision==0.21.0
numpy==2.2.6
protobuf==6.33.6
ultralytics==8.4.21
lap==0.5.13
fast-plate-ocr==1.1.0
onnxruntime==1.24.3 # OCR runtime on CPU, worked better than GPU (onnxruntime-gpu==1.24.3)
mysql-connector-python==9.6.0
opencv-python==4.10.0.84
